.title{
    color:#00b39b
}
.group{
    color:gray
}
h1{
    font-family: Work Sans,Arial,sans-serif;
    margin-left:30px
}
.header{
    display: flex;
}
nav{
    display: flex;
    justify-content:space-between
}